* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f3f4f9;
  color: #20183b;
  overflow: hidden;
}

.App {
  width: 100vw;
}

/* HEADER --------------------------------------------- */

.note-header {
  color: #20183b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  text-align: center;
  font-weight: 800;
  padding: 20px 30px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0px 5px 15px #eeee;
}

.note-show-form {
  font-weight: 700;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f6931e;
  color: #fff;
  position: relative;
  outline: none;
  cursor: pointer;
}

.note-show-form:hover {
  background-color: #df6b00;
}

.note-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  transition: ease-in-out 0.4s;
}

.App.active .note-plus {
  transform: translate(-50%, -50%) rotateZ(45deg);
}

/* FORM --------------------------------------------- */

.note-form {
  position: fixed;
  width: 350px;
  min-height: 300px;
  background-color: #fff;
  left: 50%;
  top: 0;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translate(-50%, -110%);
  transition: ease-in-out 0.35s;
  box-shadow: 0px 5px 15px #eeee;
  z-index: 2;
}

.App.active .note-form {
  top: 50vh;
  transform: translate(-50%, -50%);
}

.note-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.note-form-btn {
  border-radius: 10px;
  background-color: #f6931e;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.note-form-btn:hover {
  background-color: #df6b00;
}

.note-form-group input {
  border: none;
  outline: none;
  padding: 15px;
  border: 2px solid #f3f4f9;
  border-radius: 10px;
}

.note-form-group input::placeholder {
  color: CED3E7;
}

.note-form-group textarea {
  border: 2px solid #f3f4f9;
  border-radius: 10px;
  resize: none;
  height: 150px;
  max-width: 100%;
  outline: none;
  padding: 15px;
  margin-bottom: 15px;
}

.note-form-group textarea::placeholder {
  color: CED3E7;
}

.note-form-group label {
  font-weight: 500;
  margin-bottom: 10px;
}

.err {
  font-size: 14px;
  margin-bottom: 10px;
}

/* NOTES --------------------------------------------- */

.notes-wrapper {
  margin: 80px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.note-box {
  width: 30%;
  min-width: 300px;
  min-height: 200px;
  background-color: #fff;
  padding: 25px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: ease-in 0.3s;
  text-align: left;
}

.note-box:hover {
  box-shadow: 0px 5px 15px #ddd;
  transform: scale(1.01);
}

.note-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #f3f4f9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.note-title h2 {
  width: 90%;
  font-size: 18px;
}

.note-title button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #ced3e7;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  transform: rotateZ(45deg);
  font-size: 18px;
}

.note-title button:hover {
  background-color: #f6931e;
  color: #fff;
}

.note-content {
  font-size: 14px;
}

@media (max-width: 700px) {
  .notes-wrapper {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }

  .note-box {
    width: 80%;
  }
}